@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



/******************************************************************  Mobile + Tablets *************************************************************/
/*****************************************************************************************************************************************/

@media (min-width: 320px) and (max-width: 480px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    display: block;
}

  body {
    display: block;
    margin: 0px 0px;
    box-sizing: content-box;
    width: 100%;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    display: none;
}

  .mono {
    font-family: 'IBM Plex Mono', monospace;
  }

  .sans {
    font-family: 'IBM Plex Sans', sans-serif;
  }

  ul li {
    list-style: none;
  }

  header nav ul li {
    float: left;
  }

  header nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }

 
  /***** Header *****/
  .header {
    position: sticky;
    width: 100%;
    height: 44px;
    top: 0;
    background-color: #FFFFFF;
    z-index: 100;
  }

  .logo {
    position: relative;
    width: 24px;
    height: 24px;
    top: 10px;
    left: 16px;
  }

  /******** Menú hamburguesa ***********/
  .menu-desplazable {
    width: 100%;
    height: 224px;
    position: fixed;
    top: 44px;
    background-color: #0000EC;
    z-index: 100;
    transform: translate(100%);
    transition: all .4s ease;
    left: 0px;
  }

  #desplegar {
    display: none;
  }

  #desplegar:checked~.menu-desplazable {
    transform: translate(0);
  }

  .linea {
    width: 75%;
    height: 2px;
    background: #000000;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
  }

  .linea-top {
    top: 5%;
  }

  .linea-low {
    top: 95%;
  }

  .label-menu {
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 12px;
    padding:0.1rem;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }

  .custom-checkbox:checked+.label-menu .linea-low {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #060A24;
  }

  .custom-checkbox:checked+.label-menu .linea-med {
    opacity: 0;
  }

  .custom-checkbox:checked+.label-menu .linea-top {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #060A24;
  }

  #desplegar {
    display: none;
  }


  #button li {
    list-style: none;
  }

  .nav-link {
    display: block;
    height: 56px;
    padding: 12px 16px;
    color: white;
    font-family: 'IBM Plex Mono';
    text-decoration-line: none;
    letter-spacing: 0;
    line-height: 28px;
  }

  .nav-link:hover {
    color: #00F3BB;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration-line: line-through;
  }

  .nav-link:active {
    color: rgba(6, 10, 36, 0.56);
    letter-spacing: 0;
    line-height: 28px;
    text-decoration-line: line-through;
  }


  /***** Section Principal *****/
  .contenedor-principal {
    box-sizing: content-box;
    width: 100%;
  }

  .title-principal {
    width: 221px;
    margin-top: 29px;
    margin-left: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
  }

  #world {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    text-decoration: line-through;
  }

  p {
    width: 90%;
    margin-left: 16px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
  }

  .parrafo {
    width: 90%;
    margin-top: 16px;
  }

  .parrafo-2 {
    visibility: hidden;
  }

  .btn-primary {
    width: 90%;
    height: 48px;
    margin-top: 36px;
    margin-left: 16px;
    background-color: #00F3BB;
    color: #060A24;
    border: none;

    font-family: 'IBM Plex Mono';
    font-weight: 600;
    font-size: 16px;
  }

  .btn-primary:hover {
    color: #FFFFFF;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    cursor: pointer;
  }


  /**** Section Episodes ****/
  .section-episodes,
  .novedades {
    position: relative;
    box-sizing: content-box;
    width: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(0 6%, 100% 3%, 100% 90%, 0 93%);
    clip-path: polygon(0 4%, 100% 0%, 100% 96%, 0 100%);
  }

  .title-secundario {
    width: 60%;
    margin-left: 16px;
    font-family: "IBM Plex Sans";
    font-size: 36px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
  }

  .title-secundario.white {
    padding-top: 64px;
    color: #FFFFFF;
    padding-left: 16px;
  }

  /*** Podcast ***/
  .container-iframes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    padding-bottom: 144px;
  }


  iframe {
    width: 95%;
    height: 232px;
    border-radius: 8px;
    margin: 5px;
    position: relative;
  }

  .img-phone {
    position: relative;
    box-sizing: content-box;
    width: 100%;
    height: auto;
    margin: -105px 0 0 0px;
  }

  /****** Section "De donde venimos" ******/
  #section-2 h1 {
    margin-top: 27px;
  }

  .p2 {
    margin-top: 15px;
  }

  /****** Section Galery ******/
  #title-galery.title-secundario {
    width: 70%;
    margin-top: 54px;
    margin-bottom: 14px;
  }

  .container-img {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: content-box;
    width: 100%;

  }

  .img {
    max-width: 100%;
  }

  /****** Section Icons ******/
  #title-icons {
    width: 90%;
    margin-top: 48px;
  }

  .section-icons {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 16px;
    align-items: center;
    margin-top: 60px;
  }

  .section-icons h2 {
    width: 75%;
    margin-top: 13px;
    font-family: "IBM Plex Sans";
    font-size: 24px;
    font-weight: 600;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px
  }


  /****** Section novedades ******/
  .novedades {
    margin-top: 42px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0 100%);
  }

  h1#novedades {
    width: 288px;
    padding-top: 64px;
    margin: 0 auto;

    font-weight: normal;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    line-height: 42px;
    letter-spacing: 0;
    ;
  }

  .btn {
    width: 90%;
    margin-left: 16px;
    margin-bottom: 67px;
  }


  /****** Footer *****/
  #footer {
    position: relative;
    width: 100%;
    height: 120px;
    left: -16px;
    padding: 1px 10px 0px 10px;
  }

  p.footer {
    width: 100%;
    text-align: center;
    margin-top: 24px;
  }

  .icons-redes {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-left: 32px;
    justify-content: space-evenly;
  }

  .fab {
    color: #060A24;
  }

  .fa-spotify:hover {
    color: #11d100;
  }

  .fa-instagram:hover {
    color: #eb02b8;
  }

  .fa-twitter:hover {
    color: #0296eb;
  }

  .fa-facebook:hover {
    color: #0206eb;
  }

  .fa-telegram:hover {
    color: #0296eb;
  }
}


/******************************************************************  Desktop *************************************************************/
/*****************************************************************************************************************************************/

@media screen and (min-width: 768px) and (max-width: 1440px) {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0px;
    width: 1440px;
    overflow-x: hidden;
  }

  .mono {
    font-family: 'IBM Plex Mono', monospace;
  }

  .sans {
    font-family: 'IBM Plex Sans', sans-serif;
  }

  ul li {
    list-style: none;
  }

  li {
    display: inline;
  }


  /**** Header *****/
  .header {
    position: sticky;
    width: 1440px;
    height: 80px;
    top: 0;
    left: 220px;
    background-color: #FFFFFF;
    z-index: 999999;
  }

  .logo {
    position: relative;
    width: 36px;
    height: 36px;
    top: 22px;
    bottom: 22px;
    left: 100px;
  }


  /* ok */
  #desplegar {
    visibility: hidden;
  }

  #button li {
    display: inline;
  }

  ul#button.menu-desplazable {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
  }

  .nav-link {
    position: relative;
    padding: 11px 25px 0px 16px;
    top: -13px;

    color: #060A24;
    font-family: 'IBM Plex Mono';
    text-decoration: none;
    letter-spacing: 0;
    line-height: 28px;
  }

  .nav-link:hover {
    color: #00F3BB;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration-line: line-through;
  }

  .nav-link:active {
    color: rgba(6, 10, 36, 0.56);
    letter-spacing: 0;
    line-height: 28px;
    text-decoration-line: line-through;
  }


  /* Section Principal */
  .contenedor-principal {
    max-width: 1440px;
  }

  .title-principal {
    position: relative;
    width: 740px;
    top: 120px;
    left: 200px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 84px;
  }

  #world {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 84px;
  }

  #world:hover {
    text-decoration: line-through;
  }

  #punto {
    font-size: 64px;
    color: #0000EC;
    letter-spacing: 0;
  }

  p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
  }

  .parrafo {
    visibility: hidden;
  }

  .parrafo-2 {
    position: absolute;
    width: 628px;
    height: 48px;
    left: 200px;
    top: 284px;

    font-family: "IBM Plex Mono";
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
  }

  .btn-primary {
    width: 226px;
    height: 56px;
    margin-left: 200px;
    margin-top: 200px;
    background-color: #00F3BB;
    cursor: pointer;
    color: #060A24;
    border: none;

    font-family: 'IBM Plex Mono';
    font-weight: 600;
    font-size: 16px;
  }

  .btn-primary:hover {
    color: #FFFFFF;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    cursor: pointer;
  }


  /**** Section Episodes ****/
  .section-episodes,
  .section-5 {
    position: absolute;
    width: 1440px;
    height: 1042.6px;
    top: 449px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(0 6%, 100% 3%, 100% 90%, 0 93%);
    clip-path: polygon(0 17%, 100% 3%, 100% 87%, 0 100%);
  }

  .title-secundario {
    font-family: "IBM Plex Sans";
    font-size: 48px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
  }

  .title-secundario.white {
    color: #FFFFFF;
    padding-left: 200px;
    margin-top: 186px;
  }


  /*** Podcast ***/
  .container-iframes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    padding-bottom: 144px;
  }

  iframe {
    position: absolute;
    width: 584px;
    height: 232px;
    left: 100px;
    top: 274px;
    border-radius: 8px;
  }

  iframe:hover {
    box-shadow: 0 0 30px #7aedfc98;
  }

  iframe#iframe-2 {
    left: 756px;
    top: 274px;
  }

  iframe#iframe-3 {
    left: 100px;
    top: 578px;
  }

  iframe#iframe-4 {
    left: 756px;
    top: 578px;
  }

  .img-phone {
    position: absolute;
    height: 660px;
    margin-left: 200px;
    margin-top: 874px;
  }
  


  /****** Section "De donde venimos"******/
  #section-venimos {
    position: relative;
    display: contents;
  }

  .container-parrafo {
    position: relative;
    width: 464px;
    height: 204px;
    left: 720px;
    top: 1102px;
  }

  #titulo-sec {
    display: flex;
    position: relative;
    margin-left: 720px;
    top: 1061px;
  }

  .p2 {
    margin-top: 15px;
  }


  /****** Section Galery ******/
  .galery {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
  }

  #title-galery {
    position: relative;
  }

  #title-galery.title-secundario {
    width: 600px;
    height: 62px;
    left: 200px;
    top: 1325px;
    margin-bottom: 36px;

    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
  }

  .container-img {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    margin-top: 1336px;
  }

  .img {
    max-width: 480px;
  }

  .zoomimg {
    transition: width 1s, height 1s, transform 1s;
  }

  .zoomimg:hover {
    transform: scale(1.3);
  }



  /****** Section Icons ******/
  #title-icons {
    position: relative;
    width: 600px;
    height: 62px;
    left: 200px;
    top: 56px;
    margin-bottom: 36px;

    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
  }

  .section-icons {
    position: absolute;
    left: 278px;
    top: 3068px;
  }


  .zoomimg.box-shadow:hover {
    box-shadow: 0 0 30px #7aedfc98;
  }

  .icons {
    width: 104px;
    height: 104px;
    left: 108px;
  }

  .section-icons h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 220px;
    left: -60px;
    top: 130px;

    font-family: "IBM Plex Sans";
    font-weight: 600;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
  }

  .icon2 {
    left: 538px
  }

  .icon3 {
    left: 798px;
  }

  .icon4 {
    left: 1058px;
  }


  /****** Section novedades ******/
  .novedades {
    position: absolute;
    width: 1440px;
    height: 518px;
    left: 0px;
    top: 3299px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(0 6%, 100% 3%, 100% 90%, 0 93%);
    clip-path: polygon(0 30%, 100% 3%, 100% 100%, 0 100%);
  }

  h1#novedades {
    position: relative;
    width: 692px;
    height: 62px;
    left: 374px;
    top: 213px;

    font-weight: normal;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
  }

  .btn {
    position: relative;
    width: 345px;
    top: 36px;
    left: 374px;
  }

  /****** Footer *****/
  #footer {
    position: relative;
    width: 1440px;
    height: 90px;
    left: 0px;
    top: 848px;
    padding: 25px 0px 100px 0px;
  }

  p.footer {
    position: relative;
    width: 269px;
    height: 28px;
    left: 100px;
    top: 30px;

    font-family: "IBM Plex Mono";
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
  }


  .icons-redes {
    position: absolute;
    display: flex;
    width: 16px;
    height: 28px;
    left: 1000px;
    top: 300;

    font-size: 18px;
    letter-spacing: 64px;
    line-height: 28px;
  }

  .fab {
    font-family: "Font Awesome 5 Brands";
    margin-bottom: -20px;
    color: #060A24;
  }

  .fa-spotify:hover {
    color: #11d100;
  }

  .fa-instagram:hover {
    color: #eb02b8;
  }

  .fa-twitter:hover {
    color: #0296eb;
  }

  .fa-facebook:hover {
    color: #0206eb;
  }

  .fa-telegram:hover {
    color: #0296eb;
  }
}